@model MakanProject.Models.Villa

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Villa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillaDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillaDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillaNumberOfRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillaNumberOfRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillaNumberOfBathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillaNumberOfBathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillaPricePerNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillaPricePerNight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillaLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillaLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillaDateAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillaDateAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillaImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillaImageUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VillaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
